---
const { descricionProyecto } = Astro.props;
---

<div class="flex flex-col gap-2 py-4">
  <h4 class="text-xl text-white uppercase font-black">About</h4>
  <p class="text-sm lg:text-base">{descricionProyecto}</p>
</div>
