---
import Descargas from "../../icon/Descargas.astro";
---

<a
  href="https://www.linkedin.com/in/andres1234/"
  arial-label="Ir a mi perfil de LinkedIn"
  class="relative w-60 flex justify-center items-center gap-2 py-3 space-x-2 rounded-full text-white border-1 border-gray-700 bg-white/10"
>
  <div class="relative flex size-3">
    <span class="relative z-40 inline-flex rounded-full size-3 bg-yellow-400"
    ></span>
    <span class="absolute rounded-full size-3 bg-yellow-300/80 animate-ping"
    ></span>
  </div>

  <span>Disponible para trabajar </span>
</a>

<a
  href="https://onedrive.live.com/?redeem=aHR0cHM6Ly8xZHJ2Lm1zL2IvYy85YjIxMzc4MGMxMmZiZDA4L0VTMElxUmMtV3FCSnJseHBtdkpyQ3BrQng3V08wMmQ3UTNzSWcyaHE2eTZMYkE%5FZT1zazRBcUU&cid=9B213780C12FBD08&id=9B213780C12FBD08%21s17a9082d5a3e49a0ae5c699af26b0a99&parId=root&o=OneUp"
  aria-label="Descargar mi CV"
  target="_blank"
  class="w-60 group flex items-center justify-center gap-2 py-3 rounded-full text-white bg-yellow-400/20 border-1 border-yellow-500"
>
  <span class="group-hover:hidden ">Descargar CV</span>
  <span class="hidden group-hover:block">
    <Descargas />
  </span>
</a>
