---
import SubDescripcion from "../../common/GridSobreMi/SubDescripcion.astro"
import TecnologiasAprendidas from "../../common/GridSobreMi/TecnologiasAprendidas.astro"
import HabilidadesBlandas from "../../common/GridSobreMi/HabilidadesBlandas.astro"
import IdiomasAprendido from "../../common/GridSobreMi/IdiomasAprendido.astro";
import Peru from "../../common/GridSobreMi/Peru.astro";
import Educacion from "../../common/GridSobreMi/Educacion.astro";
import Contacto from "../../common/GridSobreMi/Contacto.astro";
---
<section class="lg:grid grid-rows-12 grid-cols-5 gap-4 flex flex-col mx-4">
  <SubDescripcion />
  <TecnologiasAprendidas />
  <HabilidadesBlandas />
  <IdiomasAprendido />
  <Peru />
  <Educacion />
  <Contacto />
</section>
