---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="min-h-[78dvh] flex flex-col justify-center items-center text-center gap-y-4">
        <h1 class="font-bold text-5xl md:text-9xl">404 </h1>
        <h2 class="text-4xl font-medium">Pagina no encontrada</h2>
        <p class="text-xl">Lo sentimos, la página que estás buscando no existe.</p>
    </section>
</Layout>
