---
import Layout from "../layouts/Layout.astro";
import DescripcionMi from "../components/layout/SobreMi/DescripcionMi.astro";
import InformacionAdicional from "../components/layout/SobreMi/InformacionAdicional.astro";
---

<Layout tituloWeb="Sobre Mi | Andres Velasquez">
  <main class="mx-auto max-w-screen-xl min-h-screen lg:px-24 lg:mt-16 lg:pb-24">
    <DescripcionMi />
    <InformacionAdicional />
  </main>
</Layout>
