---
import RedesSociales from "../RedesSociales.astro"
---
<div class="row-span-2 col-span-5 flex items-center justify-center border-1 border-gray-600 bg-fondoOscuro p-5 rounded-lg">
    <RedesSociales/>
  </div>