---
const { pregunta } = Astro.props;
import Arrow from "../../icon/Arrow.astro";
---

<button
  class="btn-pregunta cursor-pointer mx-auto w-[40vh] lg:w-[90vh] text-start space-y-1 overflow-hidden rounded-lg bg-[#0f1431] border-l-2 border-gray-400 hover:border-yellow-400"
>
  <div
    class="flex justify-between items-center px-4 py-5 rounded-lg font-medium bg-[#0d0d33]"
  >
    <h2>{pregunta.pregunta}</h2>
    <div class="transition-transform duration-300">
      <Arrow estilo="" />
    </div>
  </div>

  <div
    class="pregunta-respuesta hidden text-sm tracking-wide text-gray-300 px-4 py-4 rounded-lg bg-[#161d45]"
  >
    {pregunta.respuesta}
  </div>
</button>


