---
import Titulo from "../../../common/titulos/titulo.astro";
import RelojIcon from "../../../icon/RelojIcon.astro";
import ListaPreguntas from "../../../common/PreguntasFrecuentes/ListaPreguntas.astro";
---

<section class="flex flex-col gap-y-9 items-center justify-center">
  <Titulo texto="Preguntas Frecuentes" icon={RelojIcon} />
  <ListaPreguntas />
</section>
