---
import { proyectos } from "../../data/proyectos";
import Layout from "../../layouts/Layout.astro";
import DetalleProyecto from "../../components/layout/DetalleProyecto/DetalleProyecto.astro";

// 1. Genera todas las rutas en tiempo de build
export async function getStaticPaths() {
  return proyectos.map((proyecto) => ({
    params: { slug: proyecto.slug },
    props: { project: proyecto },
  }));
}

const { project } = Astro.props;

// (Opcional) Manejar slug no encontrado
if (!project) {
  return Astro.redirect("/404");
}
---
<Layout tituloWeb={`${project.titulo} | Andres Velasquez`}>
  <main class="mx-auto  max-w-screen-xl px-6   lg:px-24  lg:mt-16 lg:pb-24 ">
    <DetalleProyecto proyecto={project} />
  </main>
 
</Layout>
    